body#backgroundadmin{
  background:url(../img/adminbg.jpg) no-repeat;
  background-size:cover;
}

div.col-sm-6.signinform{
  background-color:#fff;
  width:26%;
  margin-top:130px;
  margin-left:156px;
  height:308px;
}

h1.text-center.signheading{
  background-color:#333;
  color:#fff;
  font-family:serif;
  font-size:31px;
  font-weight:inherit;
  letter-spacing:1px;
  height:41px;
  padding-top:4px;
}

input#pass.form-control{
  margin-top:19px;
  height:40px;
  font-size:20px;
  font-family:serif;
}
input#email1.form-control{
  margin-top:19px;
  height:40px;
  font-size:20px;
  font-family:serif;
}
input#email.form-control{
  margin-top:26px;
  height:40px;
  font-family:serif;
  font-size:20px;
}

button.btn.btn-default.signin{
  margin-top:19px;
  font-family:serif;
  font-size:23px;
  height:41px;
  background:#2c2b2b;
  color:#fff;
  letter-spacing:2px;
  margin-left:94px;
  padding-top:2px;
}

div.col-sm-12.forgpass{
  margin-top:19px;
  text-align:center;
  font-family:serif;
  font-size:20px;
}

@media (max-width:767px) {
  div.col-sm-6.signinform{
    width:67% !important;
    background-color:b;
    padding-top:1px;
  }
}

@media (max-width:767px) {
  div.row.form{
  }
}

@media (max-width:767px) {
  \{
  }
}

@media (max-width:767px) {
  body#backgroundadmin{
    background-size:auto;
  }
}

a.adminteam{
  background-color:#333;
}

div.row.profile{
	margin-left:-90px;
	margin-top:10px;
}

form.bootstrap-form-with-validation{
  background:#fff;
  width:570px;
  padding:20px;
}

div.form-group.edit{
  margin-top:-10px;
}

.form-group{
	margin-bottom: 15px;
}

label.control-label.email{
  margin-top:4px;
}

input#contactnumber.form-control{
  margin-left:100px;
  margin-top:-31px;
  height:30px;
  font-family:MyriadProR,"Segoe UI";
  font-size:15px;
  padding-top:3px;
  color:#333;
  width:80% !important;
}

select.form-control.gender{
  margin-left:100px;
  margin-top:-31px;
  height:30px;
  font-family:MyriadProR,"Segoe UI";
  font-size:15px;
  padding-top:3px;
  color:#333;
  width:80% !important;
}

select.form-control.gender {
    font-family: MyriadProR,"Segoe UI";
    font-size: 15px;
    color: #333;
}

select.form-control.education{
  margin-left:100px;
  margin-top:-31px;
  height:30px;
  font-family:MyriadProR,"Segoe UI";
  font-size:15px;
  padding-top:3px;
  color:#333;
  width:80% !important;
}

select.form-control.occupation{
  margin-left:100px;
  margin-top:-31px;
  height:30px;
  font-family:MyriadProR,"Segoe UI";
  font-size:15px;
  padding-top:3px;
  color:#333;
  width:80% !important;
}

input#institute.form-control{
  margin-left:100px;
  margin-top:-27px;
  height:30px;
  font-family:MyriadProR,"Segoe UI";
  font-size:15px;
  padding-top:3px;
  color:#333;
  width:80% !important;
}

input#organization.form-control{
  margin-left:100px;
  margin-top:-27px;
  height:30px;
  font-family:MyriadProR,"Segoe UI";
  font-size:15px;
  padding-top:3px;
  color:#333;
  width:80% !important;
}

input#email.form-control{
  margin-left:100px;
  margin-top:-27px;
  height:30px;
  font-family:MyriadProR,"Segoe UI";
  font-size:15px;
  padding-top:3px;
  color:#333;
  width:80% !important;
}

input#fullname.form-control{
  margin-left:100px;
  margin-top:-27px;
  height:30px;
  font-family:MyriadProR,"Segoe UI";
  font-size:15px;
  padding-top:3px;
  color:#333;
  width:80% !important;
}
button.updatebutton{
  position:absolute;
  right:0;
  left:-55px;
  border:1px solid rgb(255, 151, 5);
  margin:0 auto;
  text-align:center;
  padding:6px;
  font-size:20px;
  width:119%;
  color:rgb(255, 151, 5);
  background-color:#fff;
  border-radius:4px;
}

button.updatebutton:hover{
  text-decoration:none;
  color:rgb(45,109,165);
}

div.row.dash{
  margin-top:53px;
  background-color:#e8e6e6;
}

div.col-sm-4.dashboard{
  margin-top:13px;
}

span.dashboard {
    font-size: 24px;
}

span.username {
    font-size: 24px;
    color: rgb(255, 151, 5);
}

.h3, h3 {
    font-size: 24px;
}

i.glyphicon.glyphicon-edit {
    color: rgb(255, 151, 5);
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
 
}


a.edit {
    color: #333;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a.edit:hover{
  text-decoration:none;
  color:rgb(255, 151, 5);
}

a {
    background-color: transparent;
}

hr.rowdivider1 {
    background-color: rgb(45,109,165);
    height: 1px;
    margin-top: 0px;
}

input#uploadImage {
    right: 0;
    left: 20px;
    border: 1px solid rgb(255, 151, 5);
    margin: 0 auto;
        margin-top: 0px;
        margin-left: auto;
    text-align: center;
    padding: 3px;
    font-size: 20px;
    width: 100%;
    color: rgb(255, 151, 5);
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
   
}